@import "../sass/utilities/variables";
@import "../sass/utilities/mixins";

.Des {
  background: url('./designer.jpg') right 50%/cover no-repeat border-box;
  height: 100vh;
  width: 50vw;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include media__max-width(map-get($break-point, lg)) {
    background-position: center;
  }

  @include media__max-width(map-get($break-point, md)) {
    width: 100vw;
    height: 50vh;
    bottom: 0;
  }

  @include media__max-width(map-get($break-point, xs)) {
    height: 50vh;
  }

  @include media__max-height(map-get($break-point, xs)) {
    width: 50vw;
    height: 100vh;
  }

  a {
    transform: translate(15rem, -12rem);
    transition: $transition-eio;

    @include media__max-width(map-get($break-point, sm_md)) {
      transform: translate(1.5rem, -4rem);
    }

    @include media__max-width(map-get($break-point, xs)) {
      transform: translate(2.5rem, -4rem);
    }

    :hover {
      transform: scale(1.12);
      text-shadow: 2px 2px 4px rgba(0,0,0,0.32);
    }
  }

  h2 {
    font-family: $font--Noto-Sans-SC;
    font-size: 4.5rem; // 72px
    text-transform: uppercase;
    letter-spacing: -0.32rem;
    color: map-get($colors, justice--dark-green);
    transition: $transition-ei;

    &:hover,
    &:active {
      column-rule: map-get($colors, justice--pale-green);
    }
  }
}
