@import "../sass/utilities/variables";
@import "../sass/utilities/mixins";

.Dev {
  background: url('./developer.jpg') center/cover no-repeat border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  @include media__max-width(map-get($break-point, md)) {
    width: 100vw;
    height: 50vh;
  }

  @include media__max-height(map-get($break-point, xs)) {
    width: 50vw;
    height: 100vh;
  }

  a {
    max-height: 7%;
    transform: translateY(5rem);
    transition: $transition-eio;

    @include media__max-width(map-get($break-point, sm_md)) {
      transform: scale(0.8) translateY(4.5rem);
    }

    :hover {
      transform: scale(1.12);
    }
  }

  h2 {
    font-family: $font--Anonymous-Pro;
    font-size: 5.375rem; // 86px
    text-transform: lowercase;
    letter-spacing: 1.04rem;
    color: map-get($colors, justice--clean-white);
    line-height: 1;
    border-radius: 1rem;
    transition: $transition-ei;

    &:hover,
    &:active {
      // color: map-get($colors, justice--dirty-white);
      color: lime;
      background-color: rgba(0,0,0,0.72);
    }
  }
}
