@import "../../../scss/utilities/variables";
@import "../../../scss/utilities/mixins";


.Navigation {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__left-arrow,
  &__right-arrow {
    flex: 0 0 10%;
    padding: 1rem;
    opacity: 0.56;
    transition: $transition-eo;

    &:hover {
      opacity: 0.88;
    }
  }

  &__left-arrow,
  &__main,
  &__right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left-arrow {
    background: url('left-arrow.png') center/4rem no-repeat;

    @include media__max-width(map-get($break-point, md)) {
      background: url('left-arrow__small-screens.png') center/4rem no-repeat;
    }
  }

  &__main {
    flex: 0 0 80%;

    @include media__max-width(map-get($break-point, xxs)) {
      width: 50%;
    }

    &-link {
      height: 7.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      font-size: 2rem;
      font-family: $font--Roboto;
      font-weight: 400;
      color: rgba(64,64,64,0.64);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $transition-e;
    }

    .current,
    &-link:active,
    &-link:hover {
      cursor: pointer;
      color: map-get($colors, justice--gray);
      font-weight: 400;
    }

    .current {
      border-bottom: 1px solid rgba(64,64,64,0.16);
    }
  }

  &__right-arrow {
    background: url('right-arrow.png') center/4rem no-repeat;

    @include media__max-width(map-get($break-point, md)) {
      background: url('right-arrow__small-screens.png') center/4rem no-repeat;
    }
  }
}
