@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.Chronometer {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  height: 6rem !important;
  width: 15rem !important;
  border-radius: 50%;
  transform: rotate(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
