@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.Weather {
  &__modal-on,
  &__modal-off {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32,32,32,0.64)
  }

  // MODAL ON
  &__modal-on {
    flex-direction: column;
    width: 40rem;
    height: 40rem;
    margin-left: 5rem;

    p:first-child {
      margin-bottom: 1.5rem;
    }

    #localcity {
      font-weight: lighter;
    }

    #countrycode {
      font-size: 2rem;
    }

    #tempicon {
      flex-direction: row;
      text-align: center;
      vertical-align: middle;
      width: 20rem;
      display: flex;
      justify-content: center;
      margin: 4rem 0 1rem;
    }

    #weathericon {
      width: 5rem;
      height: 5rem;
      margin-left: 1rem;
      transform: scale(1.62);
    }

    #weathertemperature {
      font-size: 5rem;
      font-style: normal;
      align-self: center;
    }

    #weatherdescription {
      margin-top: 2.5rem;
      text-transform: capitalize;
    }
  }

  // MODAL OFF
  &__modal-off {
    width: 7.5rem;
    height: 7.5rem;
    color: map-get($colors, justice--clean-white);
    display: flex;
    justify-content: center;
    flex-direction: column;

    #weathertemperature,
    #weatherdescription {
      line-height: 1.16;
    }

    #weathertemperature p,
    #weatherdescription p {
      text-shadow: 0.0625rem 0.0625rem .125rem map-get($colors, justice--pale-green);
    }

    #weathertemperature {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    #weatherdescription {
      font-size: 0.03rem;
      text-transform: uppercase;
    }
  }
}
