@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.WidgetModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(255,255,255,0.92);
}
