@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.WidgetModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(0,0,0,0.92);
  color: map-get($colors, justice--clean-white);

  @include media__max-height(map-get($break-point, xs)) {
    padding-top: 4rem;
  }

  h3 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.414;
    text-align: center;

    @include media__max-width(map-get($break-point, xs)) {
      font-size: 3.6rem;
    }
  }

  p:nth-child(2) {
    font-style: oblique;
    // margin-bottom: 2.5rem;
  }

  p {
    color: map-get($colors, justice--dirty-white);
    font-size: 2.5rem;
    opacity: 0.72;
  }

  &__widgets {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media__max-width(map-get($break-point, xs)) {
      flex-direction: column;
      transform: scale(0.8) translateY(-5rem);
    }

    @include media__max-height(map-get($break-point, xs)) {
      margin-top: 0;
      flex-direction: row-reverse;
      transform: scale(0.64) translateY(-5rem);
    }
  }
}
