@import "../../../scss/utilities/variables";
@import "../../../scss/utilities/mixins";


.SidebarNav { // <ul>
  flex: 0 0 16%;
  font-size: 1.65vmin;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  @include media__max-width(map-get($break-point, md)) {
    flex-direction: row;
    margin-bottom: 2.5vmax;
  }

  @include media__max-width(map-get($break-point, sm_md)) {
    margin-bottom: 0;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
    transition: $transition-ei;

    @include media__max-width(map-get($break-point, md)) {
      margin-bottom: 0;
      margin-right: 6rem;

      &:last-child {
        margin-right: 0;
      }
    }

    @include media__max-width(map-get($break-point, sm_md)) {
      margin-right: 2.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  a {
    display: block;
    width: 4rem;
    height: 4rem;
    text-align: center;
    color: white;

    @include media__max-width(map-get($break-point, md)) {
      width: 6vmax;
      height: 6vmax;
    }

    @include media__max-width(map-get($break-point, sm_md)) {
      width: 7vmax;
      height: 7vmax;
    }

    &.home {
      border: 0;
      width: 4.25rem;
      height: 4.25rem;

      @include media__max-width(map-get($break-point, md)) {
        width: 7vmax;
        height: 7vmax;
      }

      @include media__max-width(map-get($break-point, sm_md)) {
        width: 8.5vmax;
        height: 8.5vmax;
      }
    }

    &.gmail,
    &.linkedin,
    &.github {
      border-radius: 0.35rem;
      border: 0.65rem solid transparent;

      @include media__max-width(map-get($break-point, sm_md)) {
        border: 0.75rem solid transparent;
      }
    }
  } // END a
} // END .SidebarNav


/////////////////////////////////////////////////////////////////////////////////
.Gmail {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  @include media__max-width(map-get($break-point, lg)) {
    background-size: 35% !important;
  }

  @include media__max-width(map-get($break-point, md)) {
    background-size: 50% !important;
  }

  @include media__max-height(map-get($break-point, sm_md)) {
    background-size: 45% !important;
  }

  &-headline {
    position: fixed;
    top: 12.5vmax;
    right: 0;
    left: 0;
    z-index: 16000;
    height: 2.5vmax;
    width: 25vmax;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font--Roboto;
    font-size: 4vmax;
    font-weight: 900;
    color: map-get($colors, justice--gray);
    text-align: center;
    line-height: 1;

    @include media__max-width(map-get($break-point, lg)) {
      font-size: 5vmax;
      top: 15vmax;
      width: 35vmax;
    }

    @include media__max-width(map-get($break-point, md)) {
      top: 25vmax;
    }

    @include media__max-height(map-get($break-point, sm_md)) {
      top: 22.5vmax;
      bottom: 0;
      font-size: 3vmax;
    }
  } // END &-headline

  &-close {
    position: fixed;
    top: 5vmax;
    right: 5vmax;
    width: 10vmax;
    height: 3.5vmax;
    z-index: 15000;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.64);
    background-color: map-get($colors, salamander--pale-green);
    color: map-get($colors, salamander--aqua);
    font-family: $font--Oswald;
    font-weight: 700;
    font-size: 3vmin;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: $transition-eo;

    @include media__max-width(map-get($break-point, lg)) {
      width: 15vmax;
      height: 5vmax;
    }

    @include media__max-width(map-get($break-point, md)) {
      width: 14vmax;
      height: 5vmax;
    }

    span {
      color: red;
      font-size: 8vmin;
      margin-left: 2vmin;
      padding-left: 2vmin;
      border-left: 1px solid white;

      @include media__max-width(map-get($break-point, sm_md)) {
        margin-left: 4vmin;
        padding-left: 4vmin;
      }
    }

    &:hover {
      background-color: map-get($colors, salamander--nature-dark);
      color: white;
    }
  } // END &-close

  &-modalbg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 14000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.92) !important;
    color: white;
  }
} // END .Gmail
