@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,900');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto'); // Helvetica alternative
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Nunito'); // Avenir alternative
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Anton');

@font-face {
    font-family: 'Rakesly Bold-Italic';
    src: url('/fonts/rakesly_bd_it-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_bd_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Bold';
    src: url('/fonts/rakesly_bd-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Book-Italic';
    src: url('/fonts/rakesly_bk_it-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_bk_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Book';
    src: url('/fonts/rakesly_bk-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_bk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Extra Light-Italic';
    src: url('/fonts/rakesly_el_it-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_el_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Extra Light';
    src: url('/fonts/rakesly_el-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_el-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Light-Italic';
    src: url('/fonts/rakesly_lt_it-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_lt_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Light';
    src: url('/fonts/rakesly_lt-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Italic';
    src: url('/fonts/rakesly_rg_it-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_rg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Regular';
    src: url('/fonts/rakesly_rg-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Ultra Light-Italic';
    src: url('/fonts/rakesly_ul_it-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_ul_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rakesly Ultra Light';
    src: url('/fonts/rakesly_ul-webfont.woff2') format('woff2'),
         url('/fonts/rakesly_ul-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
