@import "../../../scss/utilities/variables";
@import "../../../scss/utilities/mixins";


.DigitalTime {
  z-index: 4000;
  font-style: normal;
  line-height: 1.12;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: scale(0.8);

  & > div {
    font-family: $font--Nunito;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.414;
    letter-spacing: 0.25rem;
    transition: $transition-eo;

    &:hover {
      color: yellow;
    }
  }

  &-now {
    font-family: $font--Noto-Sans-SC;
    font-size: 1.04rem !important;
    font-weight: 800;
    letter-spacing: 0 !important;
  }
}
