@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";

.Section {
  &.dev,
  &.des {
    height: 100vh;
    flex: 0 1 50%;
    display: flex;
    color: red;
    font-size: 3.2rem;
    overflow: hidden;

    @include media__min-width(map-get($break-point, md)) {
      align-items: center;
    }

    @include media__max-width(map-get($break-point, md)) {
      justify-content: center;
      height: 50vh;
      width: 100%;
    }

    @include media__max-height(map-get($break-point, xs)) {
      height: 100vh;
    }

    h2 {
      box-shadow: 1rem 1rem 2rem black;
      transition: $transition-eio;

      &:hover {
        color: map-get($colors, justice--dirty-white);
        box-shadow: none;
      }
    }
  } // END &.dev, &.des

  &.dev {
    background: url('developer.jpg') center/cover no-repeat padding-box;
    padding-left: 2rem;

    @include media__max-width(map-get($break-point, md)) {
      padding-top: 15rem;
      align-items: flex-start;
    }

    @include media__max-width(map-get($break-point, xs)) {
     padding-top: 10rem;
     padding-left: 0;
    }

    @include media__max-height(map-get($break-point, xs)) {
     padding-left: 0;
     padding-top: 5rem;
     justify-content: flex-start;
    }

    h2 {
      line-height: 1.414;
      padding-left: 4rem;
      padding-right: 4rem;
      font-family: $font--Anonymous-Pro;
      color: lime;
      letter-spacing: 0.88rem;
      text-align: center;
      background-color: rgba(16,16,16,.64);
      border-radius: 2rem;
      transition: $transition-eio;

      &:hover {
        transform: scale(1.12);
        text-shadow: 1rem 1rem 1.5rem black;
        background-color: transparent;
      }

      @include media__max-height(map-get($break-point, md)) {
        line-height: 2;
        padding-right: 1.5rem;
        // box-shadow: 0.25rem 0.25rem 1rem black;
      }

      @include media__max-height(map-get($break-point, xs)) {
        transform: scale(0.64);
      }
    } // END h2
  } // END &.dev

  &.des {
    background: url('designer.jpg') 88%/cover no-repeat padding-box;

    @include media__min-width(map-get($break-point, md)) {
      justify-content: flex-end;
      padding-right: 0;
    }

    @include media__max-width(map-get($break-point, md)) {
      align-items: flex-end;
      padding-bottom: 10rem;
    }

    @include media__max-height(map-get($break-point, md)) {
      justify-content: flex-end;
      padding-right: 2rem;
    }

    @include media__max-width(map-get($break-point, xs)) {
      justify-content: center;
      background-position: 96%;
      padding-right: 0;
      padding-bottom: 12.5rem;
    }

    @include media__max-height(map-get($break-point, xs)) {
      padding-bottom: 5rem;
      justify-content: flex-end;
    }

    h2 {
      line-height: 2.4;
      padding-left: 2rem;
      padding-right: 8rem;
      border-bottom-left-radius: 2rem;
      text-transform: uppercase;
      font-family: $font--Noto-Sans-SC;
      font-weight: 800;
      color: map-get($colors, justice--clean-white);
      background-color: map-get($colors, justice--dark-green);

      &:hover {
        transform: rotate(-4deg) scale(1.16);
      }
    } // END h2
  } // END &.des
} // END .Section
