@import "../../../scss/utilities/variables";
@import "../../../scss/utilities/mixins";


.Content {
  width: 80%;
  margin: 0 auto;

  &-heading {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: $font--Nanum-Gothic;
    font-weight: bold;
    height: 10rem;
    padding-bottom: 2rem;

    @include media__max-width(map-get($break-point, md)) {
      font-size: 3vmin;
      margin-bottom: 5rem;
    }

    @include media__max-width(map-get($break-point, sm)) {
      font-size: 5vmin;
      margin-bottom: 2.5rem;
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

    & > * {
      padding-bottom: 5rem;
    }

    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .card {
      flex: 0 1 33.3333%;
      border: 1.5rem solid transparent;
      line-height: 1.618;
      box-shadow: 0 0 1rem rgba(64,64,64,0.12);

      @include media__max-width(map-get($break-point, md)) {
        flex: 0 1 50%;
        margin-bottom: 2.5rem;
      }

      @include media__max-height(map-get($break-point, md)) {
        flex: 0 1 33.3333%;
        margin-bottom: 2.5rem;
      }

      @include media__max-width(map-get($break-point, sm)) {
        flex: 0 1 100%;
      }

      @include media__max-height(map-get($break-point, sm)) {
        flex: 0 1 100%;
      }

      & > div {
        height: 15rem !important;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        a {
          color: map-get($colors, justice--clean-white);
          background-color: map-get($colors, justice--pale-green);
          font-weight: 400;
          text-transform: uppercase;
          margin-right: 0.75vmax;
          margin-bottom: 0.75vmax;
          height: 2vmax;
          width: 7.5vmax;
          border-radius: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            color: map-get($colors, justice--dirty-white);
            background-color: map-get($colors, justice--dark-green);
            font-weight: 900;
          }
        }
      }

      h3 {
        font-size: 2.5vmin;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        @include media__max-width(map-get($break-point, sm)) {
          font-size: 4vmax;
          line-height: 1.24;
          margin-top: 3vmax;
          margin-bottom: 3vmax;
        }

        @include media__max-width(map-get($break-point, sm)) {
          font-size: 4vmax;
          line-height: 1.24;
          margin-top: 3vmax;
          margin-bottom: 3vmax;
        }
      }

      p {
        font-size: 1.75vmin;

        @include media__max-width(map-get($break-point, sm)) {
          font-size: 2vmax;
        }

        @include media__max-height(map-get($break-point, sm)) {
          font-size: 2vmax;
        }
      }
    }

    .gallery {
      display: flex;
      flex-wrap: wrap;

      &-item {
        flex: 0 0 20%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;

        @include media__max-width(map-get($break-point, md)) {
          flex: 0 0 25%;
        }

        @include media__max-height(map-get($break-point, md)) {
          flex: 0 0 25%;
        }

        @include media__max-width(map-get($break-point, sm)) {
          flex: 0 0 50%;
          margin-bottom: 2.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-icon img {
        border: none !important;
        width: auto;
        height: 6.5rem;
      }

      &-caption {
        line-height: 1.414;
        font-size: 1vmin;

        @include media__max-width(map-get($break-point, md)) {
          font-size: 1.75vmin;
        }

        @include media__max-height(map-get($break-point, md)) {
          font-size: 1.65vmin;
        }

        @include media__max-width(map-get($break-point, sm)) {
          font-size: 3.5vmin;
        }

        @include media__max-height(map-get($break-point, sm)) {
          font-size: 3.5vmin;
        }
      }
    }
  } // END .contents

  .tech-skills {
    display: flex;

    &__title {
      margin: 0;
      width: 25%;
      text-align: center;
      padding-top: 2rem;
    }

    &__body {
      margin: 0;
      width: 75%;

      .gallery {

        &-item {

        }

        &-icon img {
          width: 6.5rem;
          height: auto;
        }
      }
    }
  } // END .tech-skills
}
