@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.SpinnerBlocks,
.SpinnerBlocks-base {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SpinnerBlocks {
   z-index: 4100;

   &-base {
     z-index: 4000;
     background-color: map-get($colors, justice--dark-green);
     // opacity: 0.96;
   }
}
