@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.Dev,
.Des {
  position: absolute;
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;

  @include media__max-width(map-get($break-point, md)) {
    width: 100vw;
    height: 50vh;
  }
}

.Dev {
  background: url('./developer.jpg') right 50%/cover no-repeat border-box;
  top: 0;
  left: 0;

  @include media__max-height(map-get($break-point, xs)) {
    width: 50vw;
    height: 100vh;
  }

  a {
    max-height: 7%;
    transform: translateY(5rem);
    transition: $transition-eio;

    @include media__max-width(map-get($break-point, sm_md)) {
      transform: scale(0.8) translateY(4.5rem);
    }
  }

  h2 {
    font-family: $font--Anonymous-Pro;
    font-size: 5.375rem; // 86px
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 1.04rem;
    color: lime;
    background-color: rgba(0,0,0,0.32);
    border-radius: .5rem;
    padding: 1rem 0;
    width: 75vh;
    display: flex;
    justify-content: center;
    line-height: 1;

    &:hover,
    &:active {
      // color: map-get($colors, justice--dirty-white);
      color: map-get($colors, justice--clean-white);
      background-color: transparent;
    }
  }
}

.Dev,
.Des {
  h2 {
    transition: $transition-ei;
  }
}

.Des {
  background: url('./designer.jpg') right 50%/cover no-repeat border-box;
  align-items: flex-end;
  right: 0;

  @include media__max-width(map-get($break-point, lg)) {
    background-position: center;
  }

  @include media__max-width(map-get($break-point, md)) {
    bottom: 0;
  }

  @include media__max-width(map-get($break-point, xs)) {
    height: 50vh;
  }

  @include media__max-height(map-get($break-point, xs)) {
    width: 50vw;
    height: 100vh;
  }

  a {
    transform: translate(15rem, -12rem);

    @include media__max-width(map-get($break-point, sm_md)) {
      transform: translate(1.5rem, -4rem);
    }

    @include media__max-width(map-get($break-point, xs)) {
      transform: translate(2.5rem, -4rem);
    }
  }

  h2 {
    font-family: $font--Noto-Sans-SC;
    font-size: 4.5rem; // 72px
    text-transform: uppercase;
    letter-spacing: -0.32rem;
    color: map-get($colors, justice--dark-green);

    &:hover,
    &:active {
      color: map-get($colors, justice--pale-green);
    }
  }
}

.Dev,
.Des {
  a {
    transition: $transition-eio;

    :hover {
      transform: scale(1.12);
      text-decoration: none;
    }
  }
}
