@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";

.SiteName {
  position: absolute;
  z-index: 3000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 25rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
  background-color: rgba(32,32,32,0.64);
  border: 2px solid map-get($colors, justice--gray);
  border-radius: 2rem;
  box-shadow: 0 0 2rem black;
  transition: $transition-eio;

  @include media__max-height(map-get($break-point, xs)) {
    border: 2px solid map-get($colors, justice--dirty-white);
    height: 20rem;
    width: 20rem;
  }

  @include media__max-width(map-get($break-point, xxs)) {
    height: 17.5rem;
    width: 17.5rem;
  }

  @include media__max-height(map-get($break-point, xxs)) {
    height: 16rem;
    width: 16rem;
    transform: scale(0.64);
  }

  h1 {
    font-family: $font--Noto-Sans-SC;
    font-weight: 900;
    font-size: 1rem;
    color: map-get($colors, justice--dirty-white);
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
    transform: translate(.5rem);

    @include media__max-height(map-get($break-point, xs)) {
      letter-spacing: 0.5rem;
      font-size: 1.5rem;
    }

    @include media__max-width(map-get($break-point, xxs)) {
      letter-spacing: 4px;
      font-size: 1.5rem;
    }
  }
}
