@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.Chronometer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem !important;
  min-width: 5rem !important;
  transform: rotate(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
