@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.WorldClock {
  width: 35rem;
  height: 35rem;
  border: 2px solid map-get($colors, justice--dark-green);
  background-color: rgba(0,0,0,0.88);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .seconds {
   width: 22rem;
   height: 22rem;
   position: absolute;
   z-index: 5200;
   border: none;

   &--ticker {
     background: red;
     height: 10rem;
     border-radius: 1rem;
   }
  } // END .seconds

  &__minute-hand {
    &--wrapper {
      width: 20rem;
      height: 20rem;
      position: absolute;
      z-index: 5100;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      // align-items: center;
    }

    &--ticker {
      width: 1rem;
      height: 9rem;
      background: pink;
      border-radius: 1rem;
    }
  } // END &__minute-hand

  &__hour-hand--wrapper {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    position: absolute;
    z-index: 5150;
    display: flex;
    justify-content: center;

    .hours { // this is actually hourHand's ticker
      background: magenta;
      width: 1rem;
      height: 7.5rem;
      border-radius: 1rem;
    }
  }

  &__hour-positions--wrapper {
    background-color: black;
    width: 27.5rem;
    height: 27.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      width: 25rem;
      height: 25rem;

      .hours--ticker {
        border: none;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        background-color: map-get($colors, justice--dirty-white);
      }
    }
  } // END &__hour-positions--wrapper
} // END .WorldClock
