@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,900');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,100'); // Helvetica alternative
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,900'); // Avenir alternative
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Anton');
