@import "../../scss/utilities/variables";
@import "../../scss/utilities/mixins";


.Sidebar {
  background: map-get($colors, salamander--nature-dark);
  position: fixed;
  z-index: 10000;
  flex: 0 1 32%;
  width: 32%;
  height: 100%;
  display: flex;
  color: map-get($colors, salamander--aqua);

  @include media__max-width(map-get($break-point, md)) {
    flex: 0 1 100%;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    padding-left: 8vmax;
    padding-right: 8vmax;
  }

  @include media__max-width(map-get($break-point, sm_md)) {
    padding-left: 5vmax;
    padding-right: 5vmax;
  }

  &-contentarea {
    padding: 1.5vmax 0 5vmax;
    flex: 0 0 84%;
    font-size: 2rem;
    overflow: scroll;

    @include media__max-width(map-get($break-point, sm_md)) {
      padding-top: 5vmax;
      flex: 0 0 100%;
    }

    header {
      padding: 0 0 0 0.5rem;

      .title {
        color: map-get($colors, salamander--light-green);
        font-size: 6vmin;
        text-transform: uppercase;
        margin-bottom: 0.5vmax;
      }

      .subtitle {
        color: map-get($colors, salamander--aqua);
        font-size: 3vmin;
        font-weight: 400;
        text-transform: lowercase;
        margin-bottom: 1vmax;
      }

      @include media__max-width(map-get($break-point, lg)) {
        .title {
          line-height: 1;
        }
      }

      @include media__max-width(map-get($break-point, sm_md)) {
        .title {
          font-size: 10vmin;
        }

        .subtitle {
          font-size: 5vmin;
          line-height: 1.618;
        }
      }
    } // END header
  } // END &-contentarea
} // END .Sidebar
