@import "../../../scss/utilities/variables";
@import "../../../scss/utilities/mixins";

.Icons { // <ul>
  position: absolute;
  z-index: 2900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 25rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 3rem;

  @include media__max-width(map-get($break-point, xs)) {
    transform: translateX(2.125rem);
  }

  @include media__max-height(map-get($break-point, xs)) {
    transform: translateX(1.75rem);
  }

  li {
    border: 0.25rem solid map-get($colors, justice--dirty-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 3rem;
    background: rgb(32,32,32);
    box-shadow: 0.5rem 0.5rem 1rem black;
    cursor: pointer;
    transition: $transition-eo;

    @include media__max-width(map-get($break-point, xs)) {
      margin-right: 4rem;
    }

    @include media__max-height(map-get($break-point, xs)) {
      margin-right: 4rem;
    }

    &:hover {
      transform: scale(1.16);
    }

    &:first-child {
      margin-right: 3rem;

      &:hover {
        transform: scale(1.16) rotate(4deg);
      }
    }

    &:last-child {
      border: 0.125rem solid map-get($colors, justice--dirty-white);
      box-shadow: 0.25rem 0.25rem 0.5rem black;
      // margin-right: 0;
      min-width: 16rem;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateX(0.75rem);
      }

      &:hover {
        transform: scale(1.04) rotate(-4deg);
        background-color: rgba(32,32,32,0.88);
        box-shadow: 0.5rem 0.5rem 1rem black;

        @include media__max-width(map-get($break-point, xs)) {
          transform: scale(1); // change this to 0 when Local Info modal is complete.
        }
      }
    }
  }
}
