@import "../../../scss/utilities/variables";
@import "../../../scss/utilities/mixins";

.Widgets {
  align-self: flex-end;
  position: fixed;
  z-index: 2800;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 25rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;

  li {
    // border: 0.25rem solid map-get($colors, justice--dirty-white);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 3rem;
    background: rgb(32,32,32);
    box-shadow: 0.5rem 0.5rem 1rem black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    transition: $transition-eo;

    @include media__max-width(map-get($break-point, xs)) {
      margin-right: 4rem;
    }

    @include media__max-height(map-get($break-point, xs)) {
      margin-right: 4rem;
    }

    &:last-child {
      margin-right: 0;
    }

    &:first-child:hover {
      transform: rotate(4deg) scale(1.16);
    }

    &:last-child:hover {
      transform: scale(1.16);
    }
  }
}
